<div style="width:100%;text-align:center;height:44px;background:#3f51b5;color: white;font-size: 17px;line-height: 44px">
    <button style="background:transparent;border-style: none;color: white;font-size: 15px;float: left;margin-left: 17px;margin-top:12px;" ng-click="$root.leftclick()">{{$root.lefttitle}}</button>
    {{$root.navtitle}}
    <button style="background:transparent;border-style: none;color: white;font-size: 15px;float: left;float: right;margin-right: 17px;margin-top:12px;" ng-click="$root.rightclick()">{{$root.righttitle}}</button>
</div>
<div ui-view></div>
