<div class=vkcontent>
    <div class="setting-cell">
        <div class="title">
            名称:
            <input id="name_input" style="width: 50%" class="content" ng-model="model.apiName">
        </div>
        <div class="line"></div>
        <div class="title">
            URL:
            <input id="url_input" style="width: 50%" class="content" ng-model="model.url">
            <a style="margin-left:10px;display: inline;">试一试:<a href="{{fullUrl}}" target="_blank"><font color="#6495ed" style="text-decoration:underline">{{domain}}</font><font color="#9932cc" style="text-decoration:underline">{{model.url}}</font></a></a>
        </div>
        <div class="line"></div>
        <div class="title">
            转发:
            <input id="forward_input" style="width: 50%;" class="content" ng-model="model.forwardUrl">
            <a style="margin-left:10px;display: inline;">转发请求,为POST JSON</a>
        </div>
        <div class="line"></div>
        <div class="title">
            状态:
            <select id="state_select" ng-model="stateUrl" ng-options='stateUrl.value for stateUrl in stateValue'
                    ng-change='updateState(stateUrl)'></select>
            <a id="stateNotice" style="margin-left:10px;display: inline;color: coral"></a>

        </div>
    </div>


    <div class="parse-area">
        <a class="title">请求参数说明:</a>
        <div class="layout">
            <textarea id="reqbody" ng-model="model.requestJson" class="body"></textarea>
            <button style="margin-left:1%;float: left;width: 6%;" ng-click="transRequest()"> 转换 -></button>
            <div class="parse">
                <div ng-repeat="item in requestItems">
                    <div class="parse-item">{{ item.name }}: </div>
                    <input style="margin-left: 10px;width: 80%;margin-bottom: 5px" ng-model="item.intro" placeholder="注释">
                </div>
            </div>
        </div>
    </div>
    <div class="parse-area">
        <a class="title">返回数据说明:(多级数据请放于<font color="red">data/response/responseData/result</font>之一节点下)</a>
        <div class="layout">
            <textarea id="respbody" ng-model="model.responseJson" class="body"></textarea>
            <button style="margin-left:1%;float: left;width: 6%;" ng-click="transResp()"> 转换 -></button>
            <div class="parse">
                <div ng-repeat="item in respItems">
                    <div class="parse-item">{{ item.name }}: </div>
                    <input style="margin-left: 10px;width: 80%;margin-bottom: 5px" ng-model="item.intro" placeholder="注释">
                </div>
            </div>
        </div>
    </div>
</div>
